[submodule "centos-nginx/playbooks/roles/nginx"]
	path = centos-nginx/playbooks/roles/nginx
	url = https://github.com/dlip/ansible-role-nginx.git
[submodule "centos-nginx-phpfpm/playbooks/roles/phpfpm"]
	path = centos-nginx-phpfpm/playbooks/roles/phpfpm
	url = https://github.com/dlip/ansible-role-phpfpm.git
