[submodule "centos-nginx/playbooks/roles/nginx"]
	path = centos-nginx/playbooks/roles/nginx
	url = https://github.com/dlip/ansible-role-nginx.git
[submodule "centos-nginx-phpfpm/playbooks/roles/phpfpm"]
	path = centos-nginx-phpfpm/playbooks/roles/phpfpm
	url = https://github.com/dlip/ansible-role-phpfpm.git
[submodule "centos-mysql/playbooks/roles/mysql"]
	path = centos-mysql/playbooks/roles/mysql
	url = https://github.com/dlip/ansible-role-mysql.git
[submodule "centos-nginx-phpfpm-wordpress/playbooks/roles/wordpress"]
	path = centos-nginx-phpfpm-wordpress/playbooks/roles/wordpress
	url = https://github.com/dlip/ansible-role-wordpress.git
[submodule "centos-build-ruby/playbooks/roles/ruby"]
	path = centos-build-ruby/playbooks/roles/ruby
	url = https://github.com/dlip/ansible-role-ruby.git
[submodule "centos-build/playbooks/roles/build-essential"]
	path = centos-build/playbooks/roles/build-essential
	url = https://github.com/dlip/ansible-role-build-essential.git
[submodule "centos-nodejs/playbooks/roles/nodejs"]
	path = centos-nodejs/playbooks/roles/nodejs
	url = https://github.com/dlip/ansible-role-nodejs.git
[submodule "centos-nodejs/playbooks/roles/epel"]
	path = centos-nodejs/playbooks/roles/epel
	url = https://github.com/dlip/ansible-role-epel.git
