[submodule "centos-nginx-phpfpm/playbooks/roles/phpfpm"]
	path = centos-nginx-phpfpm/playbooks/roles/phpfpm
	url = https://github.com/dlip/ansible-role-phpfpm.git
[submodule "centos-mysql/playbooks/roles/mysql"]
	path = centos-mysql/playbooks/roles/mysql
	url = https://github.com/dlip/ansible-role-mysql.git
[submodule "centos-nginx-phpfpm-wordpress/playbooks/roles/wordpress"]
	path = centos-nginx-phpfpm-wordpress/playbooks/roles/wordpress
	url = https://github.com/dlip/ansible-role-wordpress.git
[submodule "centos-build-ruby/playbooks/roles/ruby"]
	path = centos-build-ruby/playbooks/roles/ruby
	url = https://github.com/dlip/ansible-role-ruby.git
[submodule "centos-build/playbooks/roles/build-essential"]
	path = centos-build/playbooks/roles/build-essential
	url = https://github.com/dlip/ansible-role-build-essential.git
[submodule "centos-nodejs/playbooks/roles/nodejs"]
	path = centos-nodejs/playbooks/roles/nodejs
	url = https://github.com/dlip/ansible-role-nodejs.git
[submodule "centos-nodejs/playbooks/roles/epel"]
	path = centos-nodejs/playbooks/roles/epel
	url = https://github.com/dlip/ansible-role-epel.git
[submodule "centos-build-ruby-nodejs/playbooks/roles/nodejs"]
	path = centos-build-ruby-nodejs/playbooks/roles/nodejs
	url = https://github.com/dlip/ansible-role-nodejs.git
[submodule "centos-build-ruby-nodejs/playbooks/roles/epel"]
	path = centos-build-ruby-nodejs/playbooks/roles/epel
	url = https://github.com/dlip/ansible-role-epel.git
[submodule "centos-nginx-phpfpm/playbooks/roles/remi"]
	path = centos-nginx-phpfpm/playbooks/roles/remi
	url = https://github.com/dlip/ansible-role-remi.git
[submodule "centos-build-ruby-nodejs-rails/playbooks/roles/rails"]
	path = centos-build-ruby-nodejs-rails/playbooks/roles/rails
	url = https://github.com/dlip/ansible-role-rails.git
[submodule "centos-php-apache/playbooks/roles/apache"]
	path = centos-php-apache/playbooks/roles/apache
	url = https://github.com/dlip/ansible-role-apache.git
[submodule "centos-php/playbooks/roles/php"]
	path = centos-php/playbooks/roles/php
	url = https://github.com/dlip/ansible-role-php.git
[submodule "centos-php/playbooks/roles/remi"]
	path = centos-php/playbooks/roles/remi
	url = https://github.com/dlip/ansible-role-remi.git
[submodule "centos-postgresql/playbooks/roles/postgresql"]
	path = centos-postgresql/playbooks/roles/postgresql
	url = https://github.com/dlip/ansible-role-postgresql.git
[submodule "centos-java/playbooks/roles/java"]
	path = centos-java/playbooks/roles/java
	url = https://github.com/dlip/ansible-role-java.git
[submodule "centos-java-jenkins/playbooks/roles/jenkins"]
	path = centos-java-jenkins/playbooks/roles/jenkins
	url = https://github.com/dlip/ansible-role-jenkins.git
[submodule "centos-php-apache-wordpress/playbooks/roles/wordpress"]
	path = centos-php-apache-wordpress/playbooks/roles/wordpress
	url = https://github.com/dlip/ansible-role-wordpress.git
[submodule "centos-nfs/playbooks/roles/nfs"]
	path = centos-nfs/playbooks/roles/nfs
	url = https://github.com/dlip/ansible-role-nfs.git
[submodule "centos-php-apache-laravel/playbooks/roles/laravel"]
	path = centos-php-apache-laravel/playbooks/roles/laravel
	url = https://github.com/dlip/ansible-role-laravel.git
[submodule "centos-nginx/playbooks/roles/nginx"]
	path = centos-nginx/playbooks/roles/nginx
	url = https://github.com/dlip/ansible-role-nginx.git
